<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<base href="{{ site.baseurl }}"></base>
	<link rel="stylesheet" type="text/css" href="/assets/main.css" />
	<title>{{ page.title }}</title>
</head>
<body>
	<div id="topbar">
		<nav>
			<span class="sitename"><a href="/">Jason Lin</a></span>
			<span><a href="/posts">Posts</a></span>
			<span><a href="/projects">Projects</a></span>
			<span><a href="http://github.com/lichgo">Github</a></span>
			<span><a href="http://linkedin.com/in/canhonglin/">LinkedIn</a></span>
			<span><a href="/assets/resume.pdf">Resume</a></span>
		</nav>
	</div>
	<div id="content">
		<h1>{{ page.title }}</h1>
		{{ content }}
	</div>
</body>
</html>